<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<div id="deets">
  {{#matchBook}}
<h2>Deets: {{title}}</h2>

<br>
<hr />
<br>
<br>

<form method="POST" action="/remove">
    <strong><label>Title:  </label></strong>
    <input type="text" name="title" placeholder="Book Title" value="{{book.title}}" required maxlength="100"><br>
      <strong><label>Author: </label></strong>
    <input type="text" name="name" placeholder="Author Name" value="{{book.name}}" maxlength="100"><br>
     <strong> <label>Pages:  </label></strong>
    <input type="text" name="pages" placeholder="Pages"  value="{{book.pages}}"maxlength="100"><br>
     <strong> <label>Available for Kindle  </label></strong>
    <input type="radio" name="digital" value="{{book.digital}}"maxlength="100"><br>
   
    <input type="hidden" name="id" value="{{book.id}}">
      <button id="remove">REMOVE</button>
      <button id="update">UPDATE</button>
</form>
{{/matchBook}}

</div>

    


<script>
  //JQUERY FOR BUTTONS
    $(document).ready(function(){
        var buttons = $('button');
        buttons.on('click', function() {
            var $this = $(this);
            var action = $this.text().toLowerCase();
            $("form").attr("action", "/"+ action);
        });
    });
</script>
